<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/authenticateUsers" method = "post">
    <input type="email" name="email" id="email" required>
    <input type="password" name="password" id="password" required>
    <input type="submit" name="submit" id="submit">
</form>
</body>
</html>
